@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import "_config";
@import "_mixins";
@import "_modules";
@import "_layout";

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

// INPUT
input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  @include fade(border, 0.4s);

  &:focus,
  &:active {
    outline: none;
    border: 1px solid #4fc08d;
  }
}

a{
  text-decoration: none;
}

button{
  border: none;
}